{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="card">
        <h5 class="card-header">{{ item.category }}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <h6 class="card-title">{{ item.postdate }}</h6>
            <a href="{% url 'detail' item.pk %}" class="btn btn-primary">詳細へ</a>
            <a href="{% url 'update' item.pk %}" class="btn btn-primary">編集</a>
            <a href="{% url 'delete' item.pk %}" class="btn btn-primary">ブログを削除</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
